@import "./variables";

.font-weight-500 {
  font-weight: 500;
}
.cursor-pointer {
  cursor: pointer;
}

.background-pink {
  background: $pink;
}
.color-purple {
  color: $primary;
}
.color-purple:hover {
  color: $success;
}

.image-container {
  height: 20vh;
  position: relative;

  .delete-button {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 15px;
    height: 15px;
    background: white;
  }

  .img-miniature {
    display: block;
    width: auto;
    height: 100%;
  }
}

.list-style-none {
  list-style: none;
}

.scroll-area {
  position: relative;
  margin: auto;
  width: 100%;
  height: 25vh;
}